/*universal selector*/
/*This is to be able to see all the containers and boxes that the html has*/
* {
    padding: 1px;
    box-sizing: border-box;
    border: 0px solid red;
}

/*Make the header a flex-container to be able to organize the elements in the way i like*/
header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    /*To make all the elements occupies the entire selection */
    flex-wrap: wrap;
    background-color: #1c5560;
    box-shadow: 0 0 10px #888;
}

body {
    background-color: #001f36;
}

h2 {
    padding: 2%;
}

p {
    padding: 0.5%;
}

/*BORDERS AND BACKGROUNDS*/

/*I want the section that holds the introduction look similar to the articles but slightly different*/
.border-int {
    background-color: #fad9a6;
    padding: 1%;
    /*This is to create a border for one section to blend with the background*/
    border-radius: 30px;
    border: 10px solid #001f36;
    padding: 0%;
    margin-top: 25px;
}

/*I want a background color for all the articles and merge with the background of the body*/
section>article {
    background-color: #fbffcd;
    padding: 1%;
    /*This is to create a border only for the direct sons of th sections to blend with the background*/
    border-radius: 10%;
    border: 2% solid #001f36;
    margin: 2%;
}

/*I want that all the images inside an article have a nice border*/
article img {
    border-radius: 100px;
    border: 8px solid #df8615;
    padding: 0%;
}

img {
    max-width: 100%;
  }

/*I need to make the section where the iframe is at the moment to center it*/
.container-iframe {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  iframe {
    width: 250px;
    height: 200px;
    border: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

/*END OF THE BORDERS*/
.container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.container_img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1%;
    margin: 1%;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 1%;
    margin: 1%;
    justify-content: center;
}


/* Estilos generales */
.menu {
    display: flex;
    justify-content: space-between;
    background-color: #2b6359;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.menu a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-top: 10px;
}

footer {
    background-color: #79ae92;
}

.size_icon{
    font-size: 25px;
    }

.menu_drop>li>a{
    background-color: #333;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 50px;
    text-align:center;
    }

    /*Nested list*/
.menu_drop>li>ul>li>a{
    background-color: #333;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
    text-align:center;
    }

    /*List and nested list*/
.menu_drop li>a:hover{
    color: black;
    background-color: lightgrey;
    }

    /*By default the nested list is hidden*/
.menu_drop>li>ul{
    display: none;
    position: absolute; /*the dropdown is over the content*/
    }

    /*When you (hovering) roll the cursor over the item, the drop-down-menu appears*/
.menu_drop>li:hover> ul {
    display:flex;
    }

.menu_pc {
    display: none;
    }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    
}

/* For tablets: */
@media only screen and (min-width: 400px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 { width: 25%;}
    .col-s-4 { width: 33.33%;}
    .col-s-5 { width: 41.66%;}
    .col-s-6 { width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 { width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 { width: 91.66%;}
    .col-s-12 {width: 100%;}

    /**/
    .container1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        padding: 1%;
        margin: 1%;
        justify-content: center;
    }

    /*I want a background color for all the articles and merge with the background of the body*/
    section>article {
        background-color: #fbffcd;
        padding: 1%;
        /*This is to create a border only for the direct sons of th sections to blend with the background*/
        border-radius: 15%;
        border: 15px solid #001f36;
        padding: 0%;
    }

    /*I want that all the images inside an article have a nice border*/
    article img {
        border-radius: 100px;
        border: 8px solid #df8615;
        padding: 0%;
    }

    /*This is to make sure that the images use all the space of the div*/
    article>div>img {
        max-width: 100%;
        margin-top: 20%;
    }

    /* Only the divs inside the articles will be modified to center the content of themselves*/
    article div {
        align-items: center;
        justify-content: center;
    }

    iframe {
      width: 700px;
      height: 400px;
      
    padding-top: 2%;
    padding-bottom: 2%;
    }
    
    .menu_movil {
    display: none;
    }
    .menu_pc {
    display: flex;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    iframe{
      width: 800px;
      height: 700px;
      
    padding-top: 2%;
    padding-bottom: 2%;
    }

    .container1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1%;
        margin: 1%;
        justify-content: center;
    }

    /*I want a background color for all the articles and merge with the background of the body*/
    section>article {
        background-color: #fbffcd;
        padding: 1%;
        /*This is to create a border only for the direct sons of th sections to blend with the background*/
        border-radius: 100px;
        border: 20px solid #001f36;
        padding: 0%;
    }

    /*I want that all the images inside an article have a nice border*/
    article img {
        border-radius: 100px;
        border: 8px solid #df8615;
        padding: 0%;
    }

    /*This is to make sure that the images use all the space of the div*/
    article>div>img {
        max-width: 100%;
        margin-top: 0%;
    }

    .menu {
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
    }

    .menu a {
        display: block;
    }
    
    .menu_pc {
        display: flex;
        }
}


